.team{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $button;
}

.team__sectio-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.team__employee-warp{
    text-align: center;
}

.team__name{
    color: $nav-studio;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team__profession{
    color: $nav-number;
    font-size: 16px;
}

.team__img{
    width: 450px;
    height: 445px;
    margin-bottom: 30px;
}

.team__social-icon{
    width: 20px;
    height: 20px;
}

.team__social-link{
    fill: $icon-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;

    &:hover,
    :focus{
        fill: $main-title;
        background-color: $header-web;
    }
}

.team__social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
    margin-top: 16px;
}

.team__item{
    background-color: $main-title;
    width: 450px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    background: $main-title;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
    .team__sectio-title{
        font-size: 28px;
    }
    .team__item{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .team__sectio-title{
        font-size: 28px;
    }
    .team__img{
        width: 345px;
        height: 374px;
    }
    .team__item{
        width: 354px;
    }
    .team__social-list{
        margin-right: 32px;
        margin-left: 32px;
    }
    .team__list{
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team__social-list{
        margin-right: 80px;
        margin-left: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .team__sectio-title{
        font-size: 36px;
    }
    .team__img{
        width: 270px;
        height: 260px;
    }
    .team__item{
        width: 270px;
    }
    .team__list{
        display: flex; 
        justify-content: space-between;
    }
    .team__social-list{
        margin-right: 32px;
        margin-left: 32px;
    }
}




// .team{
//     padding-top: 94px;
//     padding-bottom: 94px;
//     background-color: $button;
// }

// .team__sectio-title{
//     margin-bottom: 50px;
//     text-align: center;
//     font-size: 36px;
//     font-weight: 700;
// }

// .team__list{
//     display: flex; 
//     justify-content: space-between;
// }

// .team__item{
//     background-color: $main-title;
//     width: 270px;
//     padding-bottom: 30px;
//     border-radius: 0px 0px 4px 4px;
//     background: $main-title;
//     box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
// }

// .team__img{
//     width: 270px;
//     height: 260px;
//     margin-bottom: 30px;
// }

// .team__employee-warp{
//     text-align: center;
// }

// .team__name{
//     color: $nav-studio;
//     font-size: 16px;
//     font-weight: 500;
//     margin-bottom: 10px;
// }

// .team__profession{
//     color: $nav-number;
//     font-size: 16px;
// }

// .team__social-link{
//     fill: $icon-color;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition-property: background-color;
//     transition-duration: 250ms;

//     &:hover,
//     :focus{
//         fill: $main-title;
//         background-color: $header-web;
//     }
// }

// .team__social-list{
//     display: flex;
//     justify-content: space-between;
//     margin-right: 32px;
//     margin-left: 32px;
//     margin-top: 16px;
// }