$header-web: #2196f3;
$nav-studio: #000000;
$nav: #212121;
$nav-number: #757575;
$main: #2f303a;
$main-title: #ffffff;
$li-color-text: #212121;
$li-color-text: #757575;
$footer-background: #2f303a;
$button: #f5f4fa;
$icon-color: #AFB1B8;
$rgba: rgba(33, 150, 243, 0.90);
$time: cubic-bezier(0.4, 0, 0.2, 1);